<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Just comment out the ones you dont use on your pc-->
    <!--So this might not actually work here also check the web config on your pc-->
    <!--<add name="CapstoneDB" connectionString="Server=ERIKSLAPTOP\SQLEXPRESS;Trusted_Connection=True;Database=CapstoneDB;" providerName="System.Data.SqlClient" />-->
    <add name="CapstoneDB" connectionString="Server=LocalHost\SQL2014; id=sa; pwd=sqlserver; Database=CapstoneDB;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>