
@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

<div class="col-xs-12 text-center">
    <embed width="750" height="650" base="http://external.kongregate-games.com/gamez/0012/1657/live/" src="http://external.kongregate-games.com/gamez/0012/1657/live/embeddable_121657.swf" type="application/x-shockwave-flash" /><br />Play free games at <a href="http://www.kongregate.com/">Kongregate</a>
</div>