@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="blogController">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-2">
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <br />
            @*<div class="col-sm-1"></div>*@
            <div class="col-sm-8">
                <div style="overflow-wrap: break-word" ng-repeat="b in sortedBlogs" class="well">
                    <a ng-click="getId(b.Id)" data-ng-href="@Url.Action("BlogDetails", "Blog")/{{b.Id}}">
                        <h2>
                            <b>{{b.Title}}</b>
                        </h2>
                    </a>
                    <span ng-bind="b.PostDate | date:'mediumDate'"></span>
                    <p ng-bind-html="b.Content | limitTo:numLimit"></p>
                    <a ng-click="getId(b.Id)" data-ng-href="@Url.Action("BlogDetails", "Blog")/{{b.Id}}">Read More...</a>

                    <br/>
                    <br/>

                    <span ng-repeat="t in b.Tags">
                        <button class="btn btn-sm btn-default" ng-click="sortByTag(t.Id)" ng-bind="t.Name"></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h2>
                        <b>About Us</b>
                    </h2>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                        a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                        Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day
                        however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                    </p>
                    <hr />
                    <span ng-repeat="t in AllTags">
                        <button class="btn btn-sm btn-default" style="margin-top: 5px" ng-click="sortByTag(t.Id)" ng-bind="t.Name"></button>
                    </span>
                    <div style="padding-top: 10px">
                        <button class="btn btn-sm btn-primary" ng-click="showAllPosts()">Show All</button>
                    </div>
                </div>
                <div class="well">
                    <h4>
                        <b>New from /r/learnprogramming!</b>
                    </h4>
                    <div ng-repeat="r in reddit.data.children | limitTo:5">
                        <a ng-href="{{r.data.url}}">{{r.data.title}}</a>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{}
